@model MyApp.Models.Item
@{
	var message = "Hello World";
	var items = new List<string> { "Item1", "Item2", "Item3" };
	var isLoggedIn = false;
}
<p>This is the name of the item @Model.Name </p>
<p>@message</p>
<ul>
	@foreach (var item in items)
	{
		<li>@item</li>
	}
</ul>
@if (isLoggedIn)
{
	<p>Welcome back!</p>
}
else
{
	<p>Please login.</p>
}
<form asp-action="Submit">
	<div>
		<input asp-for="Name" />
	</div>
	<button type="submit">Submit</button>
</form>